/*mMypao*/

.greenColor{
	color: #00d093;
}
.redColor{
	color: #ed2b35;
}

.myBubble{
	position: relative;
	z-index: 5;
	margin: 40px auto;
}
.myBubble .myBubble-top,
.myBubble .myBubble-bot{
	background-color: #fff;
	border: solid 1px #e3e3e3;
	padding: 0px 20px;
}
.myBubble-title{
	height: 26px;
	line-height: 26px;
	margin-top: 25px;
	margin-bottom:25px;
}
.myBubble-title-l{
	font-size: 20px;
	color: #010101;
	font-weight: bold;
}

.myBubble-tab{
	height: 50px;
	border-bottom: solid 1px #E3E3E3;
}
.myBubble-tab li{
	width: 24%;
	box-sizing: border-box;
	text-align: center;
	height: 50px;
	line-height: 50px;
	float: left;
	font-size: 16px;
	color: #444;
	cursor: pointer;
}
.myBubble-tab li.on{
	background-color: #F6F6F6;
	border: solid 1px #e3e3e3;
	border-bottom: none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.myBubble-list{
	display: none;
}
.myBubble-list:first-child{
	display: block;
}
.myBubble-liatAll{
	/*margin-top: 20px;*/
}
.myBubble-list ul>li{
	border: solid 1px #E3E3E3;
	border-radius: 2px;
	margin-top: 20px;
}
.myBubble-list-title{
	height: 40px;
	line-height: 40px;
	background-color: #F6F6F6;
}
.myBubble-list-title span{
	font-size: 14px;
	color: #777;
	display: inline-block;
}
.myBubble-list-title span:first-child{
	width:22%;
	padding-left:2%;

}
.myBubble-list-title span:last-child{
	width:70%;
}

.myBubble-list-con .con-l,
.myBubble-list-con .con-c{
	border-right: solid 1px #e3e3e3;
	width:40%;float: left;

}
.myBubble-list-con .con-r,
.myBubble-list-con .con-c{
	height:148px;
}
.myBubble-list-con .con-r span,
.myBubble-list-con .con-c span{
	padding-top:55px;
	display: block;	
}
.myBubble-list-con .con-l{
	width: 68%;
	padding: 1%;
}
.myBubble-list-con .con-cr3{
	width:29%;
	text-align: center;
}
.myBubble-list-con .con-cr3>div{
	width:48%;
}
.myBubble-list-con .con-img-l{width:170px;height:130px;float:left}
.myBubble-list-con .con-img-l img{width:170px;height:130px}

.myBubble-list-con .con-img-r{
	max-height: 120px;
	padding:0 10px;
	font-size: 14px;
	color: #000;
	line-height: 24px;
	overflow: hidden;
}
.myBubble-list-con .con-cr{
	text-align: center;
	font-size: 14px;
	color: #444;
}
.myBubble-list-con .con-cr{
	width:26%;
	margin-top:55px;
}
.myBubble-list-con .con-cr2{
	width:26%;
	margin-top:55px;
	text-align: center;
}

.myBubble-list-con .con-c{
	width: 50%;
}

.myBubble-list-con .con-r>div,
.myBubble-list-con .con-c>div{
	margin-top: 5px;
}
.myBubble-list-con .con-r>div a,
.myBubble-list-con .con-c>div a,
.myBubble-list-con .con-cr>div a{
	font-size: 14px;
	color: #444;
	text-decoration: underline;
	margin: 0 5px;
}
.myBubble-list-con .con-cr>div a,
.myBubble-list-con .con-r>div a{
	text-decoration: none;
}
.myBubble-list-con .con-r>div a:hover,
.myBubble-list-con .con-c>div a:hover,
.myBubble-list-con .con-cr>div a:hover{
	color: #234788;
}
.myBubble-list-con .con-cr>div a:hover,
.myBubble-list-con .con-r>div a:hover{
	text-decoration: underline;
}

.myBubble-bot{
	margin: 20px auto 90px;
	
}
.myBubble-bot-title{
	height: 26px;
	line-height: 26px;
	margin-top: 30px;
	font-size: 20px;
	color: #010101;
	font-weight: bold;
}
.myBubble-bot-title a{
	font-size: 14px;
	color: #444;	
	font-weight: normal;
}
.myBubble-bot-con{
	padding-bottom: 40px;
}
.myBubble-bot-con ul{
	margin: 20px 0;
}
.myBubble-bot-con ul li{
	float: left;
	margin-left:1%;
	margin-right: 1%;
	position: relative;
	z-index: 3;
	background-color: #E3E3E3;
	overflow: hidden;
}
.myBubble-bot-con ul li.mr0{
	margin-right: 0;
}
.myBubble-bot-con ul li{
	width: 23%;
	height: 161px;
}
.myBubble-bot-con ul li img{
	width:100%;
	height: 161px;
}
.myBubble-bot-con ul li .autoPlay{
	width: 64px;
	height: 64px;
	display: block;
	background: url(../../img/index/autoplay.png) center no-repeat;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top:-32px;
	margin-left:-32px;
}
.myBubble-bot-con ul li a{
	display: block;
	font-size: 14px;
	color: #234788;
	line-height: 161px;
	text-align: center;
	text-decoration: underline;
}

.myBubble-bot-con ul li p{
	color: #fff;
	width: 100%;
	text-indent: 20px;
	position: absolute;
	bottom: -30px;
	height: 30px;
	line-height: 30px;
	background: rgba(0,0,0,0.6);
	transition: all .3s ease-in-out 0s;
  	-webkit-transition: all .3s ease-in-out 0s;
  	-moz-transition: all .3s ease-in-out 0s;
  	-ms-transition: all .3s ease-in-out 0s;
  	-o-transition: all .3s ease-in-out 0s;
	
}
.myBubble-bot-con ul li:hover p{
	bottom: 0;
}
.myBubble-list-con .con-cr .bubblesPf i{
	display: inline-block;
	width: 16px;
	height: 15px;
	background: url(../img/bubbles/bubblesPf.png) right center no-repeat;
	position: relative;
	top: 1px;
}
.myBubble-list-con .con-cr .bubblesPf i.curr{
	background-position: left center; 
}
.myBubble-list-con .con-cr .bubblesPf span{
	padding-left: 5px;
}
.myBubble-list-con .con-r a .icon-del{
	width: 14px;
	height: 17px;
	display: inline-block;
	background: url(../img/bubbles/icon-del.png) left center no-repeat;
	position: relative;
	top: 1px;
}
.myBubble-list-con .con-r a:hover .icon-del{
	background: url(../img/bubbles/icon-del.png) right center no-repeat;
}

/*媒体查询，参考部分Bootstrap 框架*/
/*当页面大于1200px 时，大屏幕，主要是PC 端*/
@media (min-width: 1200px){
	
}
/*在992 和1199 像素之间的屏幕里，中等屏幕，分辨率低的PC*/
@media (min-width: 992px) and (max-width: 1199px){
	
}
/*在768 和991 像素之间的屏幕里，小屏幕，主要是PAD*/
@media (min-width: 768px) and (max-width: 991px){
	
	
}
/*在480 和767 像素之间的屏幕里，超小屏幕，主要是手机*/
@media (min-width: 480px) and (max-width: 767px) {
	.myBubble{margin:15px auto;}
	.myBubble .myBubble-top, .myBubble .myBubble-bot{border:none;padding:0 10px;}
	.myBubble-tab li{width:33%;font-size:14px;color:#fff;height:35px;line-height: 35px;background: rgba(98,124,167,0.5);border-right:solid 1px #eee}
	.myBubble-tab li.on{background:#526995; border-top:none;border-left:none;border-radius: 0;}
	
	.myBubble-list-con .con-l,
	.myBubble-list-con .con-c{width:98%;border-right:none}
	.myBubble-list-con .con-img-l{width:120px;height:100px;float:left}
	.myBubble-list-con .con-img-l img{width:120px;height:100px}
	.myBubble-list-con .con-img-r{
		overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp:3;
        -webkit-box-orient: vertical;
	}
	.myBubble-list-con .con-cr{width:100%;text-align:right;position: absolute;right:10px;bottom:8px;display: block;}

	.myBubble-bot-con .collect{position:absolute;bottom:0;right:10px;}
	.myBubble-list-con .collect a{background: #25488A;color:#fff;padding:5px 8px;font-size:12px;border-radius:2px}
	
	.myBubble-list-title span{font-size:12px}
	.myBubble-list-con .con-cr2{
		position:absolute;
		top:-30px;
		right:5px;
		margin-top:0;
	}
}
/*在小于480 像素的屏幕，微小屏幕，更低分辨率的手机*/
@media (max-width: 479px) {
	.myBubble{margin:15px auto}
	.myBubble .myBubble-top, .myBubble .myBubble-bot{border:none;padding:0 10px}
	.myBubble-tab li{width:33%;font-size:14px;color:#fff;height:35px;line-height: 35px;background: rgba(98,124,167,0.5);border-right:solid 1px #eee}
	.myBubble-tab li.on{background:#526995; border-top:none;border-left:none;border-radius:0;}
	
	.myBubble-list-con .con-l,
	.myBubble-list-con .con-c{width:100%;border-right:none}
	.myBubble-list-con .con-img-l{width:120px;height:100px;float:left}
	.myBubble-list-con .con-img-l img{width:120px;height:100px}
	.myBubble-list-con .con-img-r{
		overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
	}
	.myBubble-list-con .con-cr{width:100%;text-align:right;width:150px;position: absolute;right:10px;bottom:8px;display: block;}

	.myBubble-bot-con .collect{position:absolute;bottom:0;right:10px;}
	.myBubble-list-con .collect a{background: #25488A;color:#fff;padding:5px 8px;font-size:12px;border-radius:2px}
	
	.myBubble-list-title span{font-size:12px}
	.myBubble-list-con .con-cr2{
		position:absolute;
		top:-30px;
		right:5px;
		margin-top:0;
	}
	
}
