/*账户中心首页*/


.myCenter{
	margin: 42px auto 100px;
	//max-width: 1000px;
	width:998px;
	border: solid 1px #E3E3E3;
	background-color: #fff;
	position: relative;
	z-index: 5;
}

.myCenter-top,
.myCenter-top-l .myCenter-top-title{
	border-bottom: solid 1px #E3E3E3;
}
.myCenter-top-title{
	font-size: 20px;
	color: #010101;
	height: 60px;
	line-height: 60px;
	text-indent: 18px;
}
.myCenter-top-l,
.myCenter-top-c,
.bdr{
	border-right: solid 1px #E3E3E3;
}
.myCenter-top-l{
	width: 58%;
}
.myCenter-top-c,
.myCenter-top-r{
	width: 20%;
}
.myCenter-top-l .myCenter-status{
	width: 29%;
	height: 120px;
}
.myCenter-top-l .myCenter-status-btom{
	margin-top: 20px;
}
.myCenter-top-c .myCenter-status,.myCenter-top-r .myCenter-status{padding:0 4%}
.myCenter-status{
	padding:0 2%;
	height: 121px;
	overflow: hidden;
}
.myCenter-status-top{
	display: inline-block;
	padding:0 20px;
	text-align: center;
	height: 23px;
	line-height: 23px;
	border-radius: 50px;
	border: dotted 1px #E3E3E3;
	margin-top: 20px;
}
.myCenter-status-btom{
	font-size: 14px;
	color: #010101;
	height: 30px;
	line-height: 30px;
	margin-top: 65px;
}
.myCenter-status-btom span{
	font-size: 24px;
	color: #ed2b35;
	font-weight: bold;
	margin-right: 10px;
}
.myCenter-status-btom a{
	font-size: 12px;
	color: #234788;
	height: 30px;
	line-height: 36px;
}
.myCenter-status-btom a:hover{
	text-decoration: underline;
}

.myCenter-btom{
	padding: 20px;
	
}
.myCenter-btom-title{
	font-size: 18px;
	color: #010101;
	margin-top: 10px;
}
.myCenter-btom ul{
	margin: 25px 0;
}
.myCenter-btom ul li{
	float: left;
	margin:0 1%;
	position: relative;
	z-index: 3;
	background-color: #E3E3E3;
	overflow: hidden;
}

.myCenter-btom ul li{
	width: 23%;
	height: 161px;
}
.myCenter-btom ul li.mr0{
	margin-right: 0;
}
.myCenter-btom ul li img{
	width:100%;
	height:161px;
	display: block;
}
.myCenter-btom ul li .autoPlay{
	width: 64px;
	height: 64px;
	display: block;
	background: url(../../img/index/autoplay.png) center no-repeat;
	position: absolute;
	left:50%;
	top: 30%;
	margin-left:-32px;
}
.myCenter-btom ul li a{
	display: block;
	font-size: 14px;
	color: #234788;
	line-height: 161px;
	text-align: center;
	text-decoration: underline;
}

.myCenter-btom ul li p{
	color: #fff;
	width: 100%;
	text-indent: 20px;
	position: absolute;
	bottom: -30px;
	height: 30px;
	line-height: 30px;
	background: rgba(0,0,0,0.6);
	transition: all .3s ease-in-out 0s;
  	-webkit-transition: all .3s ease-in-out 0s;
  	-moz-transition: all .3s ease-in-out 0s;
  	-ms-transition: all .3s ease-in-out 0s;
  	-o-transition: all .3s ease-in-out 0s;
	
}
.myCenter-btom ul li:hover p{
	bottom: 0;
}


/*手机屏幕*/
.m-head{height: 160px;width: 100%; background: url(../../img/bg.png) no-repeat; background-size:cover;text-align: center;}
.m-head>p{padding-top:15px;line-height: 200%;color:#eee}
.m-head>p img{border-radius: 100%;}
.m-bar{position: absolute;bottom:0;width:100%;}
.m-bar>a{width:25%;border-right:1px solid rgba(135,148,163,0.3);box-sizing:border-box;height:45px;padding-top:5px;float:left;display:block;text-align: center;color:#eee;font-size:12px;background: rgba(57,77,120,0.3);}
.m-bar>a:last-child{border:none}

.m-con dl a{display: block;}
.m-con dl dt{height:40px;line-height: 40px;border-bottom: 1px solid #eee;padding:0 10px;font-size:14px;}
.m-con dl dt a{color:#000}
.m-con dl dd{height:35px;line-height: 35px;border-bottom:1px solid #eee;padding:0 10px 0 35px;font-size:13px}
.m-con dl dt span,.m-con dl dd span{float:right}
.m-con dl dt span{background: url(../../img/arrowdown.png) right center no-repeat;margin-top:15px; width: 14px;height:8px;background-size:100% 100%;}
.m-con dl dd span{background: url(../../img/arrowright.png) right center no-repeat;margin-top:12px; width: 6px;height:12px;background-size:100% 100%;}
.m-con .p-icon{vertical-align:-6px;display:inline-block;background:url(../../img/sprite3.png) no-repeat;width: 20px;height:25px;margin-right:5px}
.m-con .p-icon1{background-position: 2px 0;}
.m-con .p-icon2{background-position: -18px 0;}
.m-con .p-icon3{background-position: -38px 0;}
.m-con .p-icon4{background-position: -58px 0;}
.m-con .p-icon5{background-position: -78px 0; vertical-align: -8px;}
