section{padding:10px;background: #fff;text-align: center;}
.wait img{width: 155px;height: 155px;margin: 30px auto 0;}
.wait p{font-size: 21px;line-height: 56px;}
.wait p.reason{font-size: 15px;line-height: 0;}
.wait p.reason span{color: #ff4444;}
.mine{margin-top: 50px;}
.mine .go{background: #fff;border: 1px solid #4491ff;color: #4491ff;}