@charset "utf-8";
/* CSS Document */
/*reset*/
body{margin:0 auto;min-height:100%;background:#EFEFEF;font-family:'黑体',Arial,Helvetica,sans-serif;font-size:14px;line-height:135%;color:#4a4a4a;max-width:640px;overflow-x:hidden;min-width:320px;}select,input[type="button"],input[type="submit"],input[type="reset"],input[type="text"],input[type="date"]{padding:0;margin:0;background:#fff;-webkit-appearance:none;appearance:none;border-radius:0}section,header,footer,article,nav,aside,div,input,button,select,textarea,dl,dt,dd,h1,h2,h3,h4,h5,p,form,i,b,span,table,td,th,ol,ul,li,a{margin:0;padding:0;outline:none;-webkit-text-size-adjust:none;box-sizing:border-box;color:#666;font-family:'黑体',Arial,Helvetica,sans-serif;}b,i{font-style:normal;font-weight:normal}table{border:0;padding:0;margin:0;border-collapse:collapse;border-spacing:0;}h1,h2,h3,h4,h5,h6{font-size:16px;}ul,ol,li{list-style:none;}img{border:none;max-width: 100%;margin:0 auto;}input,img{vertical-align:middle;}a{text-decoration:none;border:none;outline:none;color:#666}::-webkit-input-placeholder {color: #ccc;font-size: 14px}:-moz-placeholder {color: #ccc;font-size:14px;}::-moz-placeholder {color: #ccc;font-size:14px;}:-ms-input-placeholder {color:#ccc;font-size: 14px}

/*common css*/
.fff{ background:#fff!important}
.eee{ background:#eee!important}
.font12{font-size:12px;}
.font14{ font-size:14px}
.font16{ font-size:16px}
.font18{ font-size:18px}
.font20{ font-size:20px}
.font22{ font-size:22px}
.font24{ font-size:24px}
.font26{ font-size:26px}
.font28{ font-size:28px}
.font30{ font-size:30px}
.font32{ font-size:32px}
.bt { border-top:1px solid #FEADB7;}
.br { border-right:1px solid #FFE0E3;}
.bb { border-bottom:1px solid #FFE0E3;}
.bl { border-left:1px solid #FFE0E3;}
.mt0{margin-top:0!important}
.mt5 { margin-top:5px!important}
.mt10 { margin-top:10px!important}
.mt20 { margin-top:20px!important}
.mb5 { margin-bottom:5px!important}
.mb10 { margin-bottom:10px!important}
.mb20 { margin-bottom:20px!important}
.m10 {margin:10px!important}
.m20 {margin:20px!important}
.pt5 { padding-top:5px!important}
.pt10 { padding-top:10px!important}
.pr5 { padding-right:5px!important}
.pr10 { padding-right:10px!important}
.pb5 { padding-bottom:5px!important}
.pb10 { padding-bottom:10px!important}
.pl5 { padding-left:5px!important}
.pl10 { padding-left:10px!important}
.p5 {padding:5px!important}
.p10 {padding:10px!important}
.p15 {padding:15px!important}
.p20 {padding:20px!important}
.no-border { border:none!important}
.h20{height:20px; line-height:20px;}
.h25{height:25px; line-height:25px;}
.h30{height:30px; line-height:30px;}
.h35{height:35px; line-height:35px;}
.h40{height:40px; line-height:40px;}
.h45{height:45px; line-height:45px;}
.h50{height:50px; line-height:50px;}
.h55{height:55px; line-height:55px;}
.h60{height:60px; line-height:60px;}
.fl { float: left;}
.fr { float: right;}
.hide { display: none;}
.show { display: block;}
.block{ display: block}
.inline-block{display:inline-block}
.pr { position: relative;}
.text-left{ text-align:left}
.text-center{ text-align:center}
.text-right{ text-align:right}
.text-indent5 { text-indent:5px;}
.text-indent10 { text-indent:10px;}
.box { display:-webkit-box; display:-ms-flexbox;margin:0 auto}
.flex{ -webkit-box-flex:1;-ms-flex:1;width:0%}
.clear:after{ display:table; content:""; clear:both}
.btn {width:100%; display:inline-block;height:40px; line-height:40px; text-align:center;color:#fff;border-radius:5px; background:#FF4401;font-size:16px}
.ellipsis { text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}

header {min-width:320px;max-width:640px;width:100%; margin:0 auto;}
section {margin:0 auto;padding-bottom: 80px}

.table-reg{font-size:15px;background:#fff;border-top:1px solid #D6D6D6;margin:20px auto}
.table-reg td{padding:6px 0;border-bottom:1px solid #D6D6D6}
.table-reg td input{padding:8px 0;border:none}
.btn-code{width:104px; text-align:center;border-left:1px solid #D6D6D6}
.btn-code a{display:block; font-size:14px;color:#FE5E3A;padding:5px 0} 

.form-soso{margin:30px auto;border-radius:30px;border:1px solid #F7A08A; overflow:hidden}
.form-soso input{padding:10px;border:none;background:#EFEFEF}
.form-soso .soso{width:60px;padding-top:2px; text-align:center;display:block;background:#FF4401}
.hot-world{min-height:150px;max-width:640px;width:100%;position:fixed;bottom:50px}
.hot-world>div{margin:0 8px;}
.hot-title{font-size:16px;height:30px; line-height:30px;border-bottom:1px solid #C4C4C4}
.hot-title span{color:#FC6343;border-bottom:1px solid #FF4401;display:inline-block;height:30px; line-height:30px}
.hot-tag a{display:block;width:33.3%;display:block;float:left;padding:10px 0; text-align:center;font-size:14px;color:#888; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}

.form-soso2{border:1px solid #ccc;margin:5px;background:#fff;position:relative}
.form-soso2 input{height:35px; line-height:35px;width:100%;border:none;padding:0 50px 0 8px;}
.form-soso2>a{position:absolute;right:10px;top:3px; text-align:center;width:40px;height:30px;display:block}
.nav-soso{width:100%;background:#fff;border-bottom:1px solid #C4C4C4}
.nav-soso .flex{display:block; text-align:center}
.nav-soso .flex a{display:inline-block;height:30px; line-height:30px;}
.nav-soso a.active{border-bottom:2px solid #FF4401;padding:0 2px}
.wrap-soso{margin:10px 5px 0 5px;background:#fff;padding:8px;}
.title-soso{font-size:16px;color:#369}
.wrap-soso dd:nth-child(2){font-size:14px; line-height:145%;margin:5px 0;}
.wrap-soso dd:last-child{font-size:12px;color:#2D9A64}
.more{display:block;width:160px;height:40px; line-height:40px; text-align:center;background:#D6D6D6;color:#fff;margin:30px auto 80px auto;}

/*个人中心*/
#info{ background:url(../images/bg.jpg) no-repeat center center; height:200px; background-size:100% 100%;position:relative;left:0;top:0;}
#info .head{ border-radius:200px;overflow:hidden;width:85px; height:85px;display:inline-block;border:1px solid #fff}
#info>p{ text-align:center;padding-top:15px;color:#fff}
#info>ul{position:absolute;bottom:0;background:#fff;width:100%}
#info>ul li{width:50%;float:left;border-right:1px solid #eee;height:50px;text-align:center}
#info>ul li span{ text-align:center;color:#FF4401;display:inline-block;font-size:22px;margin-top:8px;margin-bottom:3px}
#info>ul li a{font-size:14px;display:block;height:50px;color:#666}
#info>ul li:last-child{border-right:none}
#section2{}
#ul-grzx{margin-top:20px;}
#ul-grzx li{border-bottom:1px solid #eee}
#ul-grzx li a{padding:11px 10px;font-size:14px;display:block;background:#fff}
#ul-grzx li span{float:right}

.task{background:#fff;padding:5px 0;margin-top:20px;border-top:1px solid #D6D6D6}
.task big{font-size:26px;color:#FF4E1D; vertical-align:-3px}
.task span{color:#FF4E1D}
.task>p{padding:2px 10px; line-height:160%;font-size:12px}
.table-task{background:#fff}
.table-task th{height:50px;font-weight:normal; line-height:50px; color:#FFF; text-align:center;background:#FF4401;border-right:1px solid #EF7E61}
.table-task td{border-bottom:1px solid #EFEFEF;border-right:1px solid #EFEFEF;height:45px;text-align:center;font-size:12px}

.table-task2{background:#fff}
.table-task2 th{height:50px;font-weight:normal; line-height:50px; color:#EF7E61; text-align:center;background:#FFFFF;border-right:1px solid #EFEFEF;border-bottom:1px solid #EFEFEF;}
.table-task2 td{border-bottom:1px solid #EFEFEF;border-right:1px solid #EFEFEF;height:45px;text-align:center;font-size:12px}

.p-head{height:75px; line-height:75px;padding:0 10px;background:#fff;margin:20px auto;border-top:1px solid #D6D6D6;border-bottom:1px solid #D6D6D6}
.p-head span{width:65px; height:65px;margin-top:5px;border-radius:100%;overflow:hidden;float:right}
.ul-zl{background:#fff;border-top:1px solid #D6D6D6;}
.ul-zl li{height:45px; line-height:45px;border-bottom:1px solid #D6D6D6;}
.ul-zl li span{float:right}
.ul-zl li a{display:block;height:45px; line-height:45px;padding-left:10px;padding-right:10px}
.ul-zl li img{padding-top:12px;float:right}
	
.acount-table{background:#fff;border-top:1px solid #D6D6D6;margin:20px auto}
.acount-table td{height:45px; line-height:45px;border-bottom:1px solid #D6D6D6;font-size:14px}
.acount-table td input{height:30px; line-height:30px;width:100%;border:none}
.acount-table tr td:first-child{ text-indent:10px;width:90px; text-align:left}
.acount-table .red{color:#FF4401}
.acount-table select{height:30px; line-height:30px;width:80%;border:none}
.zh-msg{margin:20px auto;font-size:12px; text-align:center;}
.zh-msg big{font-size:32px;color:#FF4401}

.test{border-top:1px solid #D6D6D6;border:1px solid #D6D6D6;background:#fff;margin-top:15px}
.test dt{padding:15px 5px;border-bottom:1px solid #D6D6D6; line-height:140%}
.test dt img{margin-right:5px;}
.test dd{padding:10px 25px; line-height:180%}
.test dd input{width:18px;height:18px; vertical-align:-5px;margin-right:15px}
.test textarea{width:100%;height:120px;border:none;resize:none}
.test select{width:70%;margin:30px 0 80px;font-size:16px;height:35px; line-height:35px; text-align:center;}
.test .sel:before{width:0;height:0;display:block;content:'';border:8px solid transparent;position:absolute;right:10px;top:2px;border-top:10px solid #FF4401}

.hb-bg{width:100%; height:100%;background:url(../images/hb_bg.png) no-repeat center center;background-size:cover}
.hb-bg .hb{ background:url(../images/dhb.png) no-repeat center center;margin:75% auto 0 auto; width:225px;height:245px;background-size:contain; text-align:center;padding-top:108px}
.hb-bg .hb>a{border-radius:12px;display:block;width:105px;height:45px;margin:0 auto; -webkit-animation:light 1s linear alternate infinite;}

.hb-bg2{width:100%; height:100%;background:url(../images/hb_bg2.png) no-repeat center center;background-size:cover}
.hb-bg2 .hb2{ background:url(../images/jb2.png) no-repeat center center;width:180px;height:130px;background-size:100% 100%;margin:25% auto;position:relative;}
.hb-bg2 .hb2 span{font-size:60px;position:absolute;bottom:10px;left:0;width:130px;display:block;color:#FF2F00; text-align:right;-webkit-animation:light2 .6s linear .1s alternate;}
@-webkit-keyframes light
{
		from{
			box-shadow:0 0 5px #f90;
		}
		to{
			box-shadow:0 0 30px #ccc;
		}
}
@-webkit-keyframes light2
{
		0%{-webkit-transform:scale(0.1,0.1);}
		60%{-webkit-transform:scale(1.1,1.1);}
		70%{-webkit-transform:scale(1.2,1.2);}
		80%{-webkit-transform:scale(1.3,1.3);}
		90%{-webkit-transform:scale(1.2,1.2);}
		100%{-webkit-transform:scale(1,1);}
}

/*底部*/
footer{ position:fixed;bottom:0px;width:100%;max-width:640px;border-top:1px solid #C4C4C4}
footer .flex{-webkit-box-flex:1;-ms-flex:1;width:0%;text-align:center; background:#F5F5F5;height:50px; overflow:hidden}
footer .hover{color:#FF6500!important} 
footer .flex dt{padding:5px 28px}
footer .flex dd{ font-size:12px; color:#AFAFAF}
