@charset "utf-8";/* CSS Document*/
nav{background: #fff;position: relative;}
nav a{display:block;width:33.33%;float:left;height:32px;line-height: 32px;font-size:14px; text-align: center;color:#3674cc;border-bottom:1px solid #DFDFDF;}
nav i{border-bottom:1px solid #3674cc;height:3px;position: absolute;bottom:0px;left:0px;display:block;width:33.33%; -webkit-transition: left .3s ease;transition: left .3s ease;}
nav i:after{content: "";width:0;height:0;display: block;border:3px solid transparent;border-bottom-color:#3674cc;position:absolute;bottom:0;left:50%;margin-left:-1.5px;}
section{background:#fff;padding:10px 10px 8px 10px;margin:10px auto;position: relative;}
.lc>img{position: absolute;right:10px;top:8px;}
.lc>p,.lc2>p{font-size:15px;padding-left:2px;}
.lc>p span,.lc2>p span{font-size:12px;color:#ff4444;}
.lc2>p i{color:#f40;border:1px solid #ff5757;font-size:12px;border-radius: 2px;padding:1px 4px;vertical-align: 2px;margin-left:5px;}
.info{margin:0 auto;padding:5px 0 5px 2px;border-bottom:1px solid #EFEFEF;}
.info div:first-child{width:38%;float:left;}
.info div:first-child p:first-child{font-size:12px;color:#a8a8a8;}
.info div:first-child p:last-child{font-size:20px;color:#ff4444;margin-top:5px;}
.info div:first-child p:last-child span{font-size:16px;color:#ff4444;}
.info div:first-child p:last-child i{font-size:10px;color:#ff4444;}
.info div:nth-child(2){width:31%;float:left;border-left:1px solid #EFEFEF;border-right:1px solid #EFEFEF;}
.info div:nth-child(2) p,.info div:last-child p{text-align: center;font-size:12px;color:#a8a8a8;}
.info div:nth-child(2) p:last-child{font-size:20px;color:#494848;margin-top:5px;}
.info div:last-child{width:31%;float:left;}
.info div:last-child p:first-child{text-align: right}
.info div:last-child p:last-child{font-size:20px;color:#494848;margin-top:5px;text-align: right}
.info div:last-child p:last-child span{font-size:14px;color:#494848;}
.info2 div p:last-child{font-size:15px!important;color:#494848!important;}
.info2 div:last-child p:last-child{font-size:17px!important;color:#f40!important}
.info2~.jd i{float:right;color:#4491ff;padding-top:5px;}
.jd{font-size:12px;padding-top:8px;}
.jd p{float:left;margin-top:5px;color:#a8a8a8;}
.jd p span{border:1px solid #D3D3D3;color:#a8a8a8;line-height: normal;padding:1px 3px;border-radius:3px;}
.jd a{width:80px;height:26px;line-height: 26px;position: relative; text-align: center;color:#fff;background:#dfdfdf;display:block;float:right;border-radius: 3px;font-size:14px;}
.jd p span.active{border:1px solid #FFB1B1;color:#ff5757;}
.jd a.active{background: #4491ff}
.des{padding:0 10px;color:#a8a8a8;font-size:12px;}
.quan>label{font-size:12px;color:#333;margin-right:10px;}
.quan .flex{position: relative;}
.sel select{height:26px;line-height: 20px;border:1px solid #D6D6D6;width:100%;}
.sel input{height:26px;line-height: 20px;border:1px solid #D6D6D6;width:100%; text-indent: 5px;}
.sel img{position: absolute;left:auto;top:0;bottom:0;right:5px;margin:auto;}
.forget-pwd{float:right;color:#FF5050;font-size:12px;}
.forget-pwd~small{font-size:10px;}
.content li{position: relative;height: 41px;color:#a8a8a8;line-height: 41px;border-bottom: 1px solid #EFEFEF;overflow:hidden;padding: 0 3px;font-size: 12px;}
.content li span{color:#494848;}
.content i{color:#f44;}
.content li a{display:block;height:41px;line-height: 41px;}
/*头部轮播*/
.swipe { overflow: hidden; position: relative; max-width:640px; margin:0 auto;	}
.swipe-wrap { overflow: hidden; list-style:none; position: relative;}
.swipe-wrap li{ float:left; width:100%; position: relative;}
#dot{width:100%;height:25px; line-height:25px;  position:absolute;bottom:0;text-align: right;padding-right:10px;}
#dot span{display:inline-block;width:7px;height:7px; margin:12px 2px 0 2px;background: rgba(255,255,255,0.5);border-radius: 100%}
#dot span.active{background: #4491ff;} 

.menu{height:0.8rem;background: #fff}
.menu>a{line-height:180%;width:33.33%;padding:0 32px;margin-top:0.1rem;display:block;float:left;background: #fff;text-align: center;color:#3674cc;font-size:14px;}
a.btn2{width:80px;height:25px;line-height: 25px;text-align:center;border-radius: 3px;background:#4491ff;color:#fff;font-size:14px;}
.data{width:90px;height:90px;padding-top:25px;border-radius: 100%;background:#f44;color:#fff;margin:10px 5px;font-size:29px; text-align:center; }
.data span{font-size:12px;color:#fff;}
.data i{font-size:10px;color:#fff;}
.data~ul{margin-left:12px;}
.data~ul li{color:#a8a8a8;height:30px;line-height: 25px;border-bottom:1px solid #EFEFEF;font-size:12px;}
.data~ul li:last-child{border:none;}
.data~ul li span{float:right;color:#494848;}
#formReset input{border:1px solid #D3D3D3;height:40px;line-height: 40px;width:100%; text-indent: 10px;margin:8px auto;}
#formReset .tips{font-size:12px;text-align: center;color:#a8a8a8;}
#formReset .icon1{position: absolute;left:10px;right:auto;top:0;bottom:0;margin:auto;background: url(../images/icon1.png) no-repeat center center;width:16px;height:16px;display:block;background-size: 16px 16px;}
#formReset .icon2{position: absolute;left:12px;right:auto;top:0;bottom:0;margin:auto;background: url(../images/icon2.png) no-repeat center center;width:12px;height:16px;display:block;background-size: 12px 16px;}
#formReset input.no::-webkit-input-placeholder{color:#f40;}
.list{border-bottom:1px solid #EFEFEF;padding:10px 0;}
.list>div{position: relative;}
.list>div img{border:1px solid #FAFAFA;display:inline-block; }
.list .mask:after{height:80px;width:100px;content: "";background:rgba(0,0,0,0.5); position: absolute;left:0;top:0;}


.list:last-child{border-bottom:none;}
.fuli,.fuli2{margin-left:10px;}
.fuli dt{height:48px;}
.fuli dt p{padding-top:3px;overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;font-size:15px;}
.fuli dt p .date{color:#a8a8a8;font-size:12px;}
.fuli2 dt p{font-size: 15px;padding-top:3px;}
.fuli2 dd:nth-child(2){font-size:12px;color:#a8a8a8;margin:10px auto 0 auto;}
.fuli2 .times span{background:#494848;color:#fff;padding:2px 2px;}
section.tag1{background:#fff url(../images/tag1.png) left top no-repeat;background-size:80px 25px;padding-top:25px}
section.tag2{background:#fff url(../images/tag2.png) left top no-repeat;background-size:80px 25px;padding-top:25px}
.code{display:inline-block;margin:8px auto 8px 10px;width:90px;background:#579cff;font-size:12px;text-align: center;color:#fff;}
.code2{height:35px;line-height:35px;margin-top:10px;border-radius:3px;}

